html {
  background: #25282b;
}
body {
  font-family: 'Lato', sans-serif;
  color: #4b4b4b;
  padding: 0;
  padding-top: 83px;
  background: white;
}
a {
  color: #25b5ff;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
.container,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-right: 12px;
  padding-left: 12px;
}
.row {
  margin-right: -12px;
  margin-left: -12px;
}
.up7 {
  margin-top: -7px;
  position: relative;
  top: 4px;
}
.row.section {
  padding: 55px 0 60px;
}
.row.section.last {
  padding-bottom: 100px;
}
.btn.btn-default {
  box-shadow: none;
  text-shadow: none;
  background: none;
  background-image: none;
  border: none;
  background: #25b5ff;
  color: white;
  border-radius: 2px;
}
.btn.btn-default:hover {
  background: #3ca0da;
}
.btn.btn-default.grey {
  background: #4b4b4b;
}
.btn.btn-default.grey:hover {
  background: #5f5f5f;
}
.btn.btn-default.btn-action {
  border: 2px solid #25b5ff;
  color: #25b5ff;
  font-size: 14px;
  background: none;
  padding: 5px 20px;
  margin-top: 21px;
  text-shadow: none;
  border-radius: 3px;
}
.btn.btn-default.btn-action:hover {
  color: white;
  background: #25b5ff;
}
.btn.btn-default.btn-action:active,
.btn.btn-default.btn-action:focus {
  color: white;
  background: #2590ff;
  border-color: #2590ff;
}
.btn.btn-default.btn-action2 {
  border: 2px solid #25b5ff;
  color: white;
  background: #25b5ff;
  font-size: 14px;
  padding: 5px 30px;
  text-shadow: none;
  border-radius: 3px;
  width: 95%;
  margin-top: 10px;
}
.btn.btn-default.btn-action2:hover {
  color: white;
  background: #2590ff;
  border-color: #2590ff;
}
.btn.btn-default.btn-action3 {
  background: none;
  border: 1px solid #a7a7a7;
  padding: 6px 20px;
  color: grey;
  font-size: 13px;
  margin-top: 1px;
}
.btn.btn-default.btn-action3:hover {
  color: white;
  background: #25b5ff;
  border-color: #25b5ff;
}
.btn.btn-default.btn-action4 {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 2px 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin-top: -2px;
}
.btn.btn-default.btn-action4:hover {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0);
}
.nomargin {
  padding: 0px;
}
.row.fixed {
  position: fixed;
  left: 50%;
  right: 0;
  padding: 0 22px;
  margin: 0;
  z-index: 100000;
  background: white;
}
ul.nav.nav-pills {
  width: 100%;
  border: 1px solid #6b7277;
  border-radius: 4px;
  margin: 25px 0 25px;
}
ul.nav.nav-pills > li.active a {
  background: #6b7277;
  color: white;
}
ul.nav.nav-pills > li.active a .badge {
  color: #f7f7f7;
  font-weight: 300;
}
ul.nav.nav-pills > li.active:hover a {
  background: #858b90;
  border-left: 1px #858b90 solid;
}
ul.nav.nav-pills > li > a {
  padding: 4px 15px;
  border-radius: 0px;
  color: #53585c;
  border-left: 1px #6b7277 solid;
  border-right: 1px #6b7277 solid;
}
ul.nav.nav-pills > li > a:last-of-type {
  border-right: none;
}
ul.nav.nav-pills > li > a .badge {
  background: none;
  color: grey;
  font-weight: 300;
  padding: 3px 0px;
}
ul.nav.nav-pills > li > a:hover {
  background: #f7f7f7;
}
.alert {
  border-radius: 0;
  z-index: 100000;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: rgba(0, 0, 0, 0.6);
  padding: 10px 15px;
  height: 46px;
  line-height: 26px;
}
.alert.alert-success {
  background-image: none;
  background-color: #c7f7c4;
}
.alert.alert-danger {
  background-image: none;
  background-color: #fbcdcd;
}
nav.navbar.navbar-default {
  background-image: none;
  background-color: white;
  line-height: 58px;
  margin: 0;
  padding: 0;
  box-shadow: none;
  max-height: 83px;
}
.navbar-right {
  margin-right: 0;
}
.navbar-header {
  position: absolute;
}
.navbar-brand {
  text-indent: -10000em;
  display: block;
  width: 191px;
  height: 25px;
  background: url(../img/ogptoolbox-logo.png) no-repeat no-repeat;
  background-size: 191px ;
  margin: 27px 0 25px;
  margin-left: 0px !important;
}
p.navbar-text {
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
}
.navbar-default .navbar-right > li > a {
  color: #434343;
  line-height: 50px;
  font-weight: 600;
  margin-right: 20px;
  font-size: 13px;
}
nav.navbar.navbar-inverse {
  border: none;
  border-radius: 0;
  background-image: none;
  background: #33383c;
  margin-bottom: 0;
  padding-top: 83px;
}
nav.navbar.navbar-inverse.fullscreen {
  padding-top: 0px;
}
nav.navbar.navbar-inverse .navbar-collapse {
  padding: 0;
}
nav.navbar.navbar-inverse .navbar-nav > li > a {
  color: white;
  margin: 20px 0;
  padding: 3px;
  padding-left: 0;
  margin-right: 33px;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
nav.navbar.navbar-inverse .navbar-nav > li > a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.search-bar input.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0;
  margin-top: 7px;
  padding-left: 23px;
  width: 280px;
  font-size: 13px;
  color: white;
}
.search-bar span.glyphicon.glyphicon-search {
  color: grey;
  position: relative;
  top: 8px;
  left: 13px;
}
.carousel-inner > .item {
  transition: 0.35s;
}
.carousel {
  color: white;
  /* Toggled State */
}
.carousel a.btn.btn-primary.btn-lg {
  border: none;
  color: white;
  background: #3ca0da;
  background-image: none;
  padding: 12px 40px;
  box-shadow: none;
  text-shadow: none;
  font-size: 16px;
  border-radius: 3px;
}
.carousel a.btn.btn-primary.btn-lg:hover {
  background: #25b5ff;
}
.carousel .item.active {
  height: 590px;
}
.carousel .carousel-inner {
  height: 590px;
}
.carousel .jumbotron {
  height: 100%;
  color: white;
  background: url('../img/bg_world.png') center center no-repeat;
  background-size: cover;
  background-color: transparent;
}
.carousel .jumbotron h1 {
  font-size: 72px;
  font-weight: 300;
  line-height: 1em;
  padding-top: 90px;
  margin-bottom: 50px;
}
.carousel .jumbotron p {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 200;
  padding: 20px 0 10px;
}
.carousel input[type=radio],
.carousel input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
  /* For mobile, it's typically better to position checkbox on top of clickable
area and turn opacity to 0 instead. */
}
.carousel input[type=radio]:checked ~ div,
.carousel input[type=checkbox]:checked ~ div {
  background: #595959;
}
.carousel .radio,
.carousel .checkbox {
  background-color: #33383c;
  border-radius: 4px;
  padding: 40px 15px;
  font-size: 17px;
  cursor: pointer;
}
.carousel .radio:hover,
.carousel .checkbox:hover {
  background-color: #373d42;
}
.carousel .radio label,
.carousel .checkbox label {
  padding-left: 0px;
}
.carousel .form-title {
  margin: 60px 40px 40px;
}
.carousel .form-title .glyphicon {
  padding-right: 15px;
  position: relative;
  top: 4px;
  opacity: 0.2;
}
.carousel .form-content {
  margin: 40px;
}
.row.filters {
  color: #a3a3a3;
  margin: 30px 0;
}
ol.breadcrumb {
  padding: 16px 0;
  background-color: transparent;
  margin-bottom: 0px;
}
.pull-screenshot ol.breadcrumb li.active {
  color: white;
}
.browse-tag,
.banner {
  background-color: #3f454a;
  height: 100%;
  overflow: hidden;
}
.banner {
  margin-bottom: 0px;
  height: 585px;
  overflow: hidden;
  text-align: left;
}
.banner img {
  margin-top: -30px;
}
.banner.screenshot {
  margin-bottom: 0px;
  height: 380px;
  background-color: #3f454a;
  overflow: hidden;
}
.banner.screenshot img {
  opacity: 0.6;
  width: 100%;
}
.banner.collection-header {
  margin-bottom: 0px;
  height: 350px;
  background-color: #3f454a;
  overflow: hidden;
}
.banner.collection-header .collection-info {
  margin-top: 170px;
}
.banner.collection-header-mini {
  margin-bottom: 0px;
  height: 220px;
  background-color: #3f454a;
  overflow: hidden;
}
.btn.btn-default.dropdown-toggle {
  border: none;
  border-radius: 3px;
  background-image: none;
  background-color: #53585c;
  color: white;
  text-shadow: none;
  text-align: left;
  box-shadow: none;
  font-size: 14px;
  margin: 0 4px;
  padding: 5px 8px;
}
.btn.btn-default.dropdown-toggle:hover,
.btn.btn-default.dropdown-toggle:active {
  background-color: #65686b;
  color: white;
}
.btn.btn-default.dropdown-toggle span.caret {
  display: none;
}
.row.footer {
  background-color: #25282b;
  padding: 45px 0 20px;
  margin-top: 0px;
}
.row.footer h4 {
  font-size: 17px;
  margin-top: 0;
  color: white;
  margin-bottom: 20px;
}
.row.footer .footer-menu {
  padding: 0px;
}
.row.footer .footer-menu li {
  list-style: none;
  margin: 6px 0;
  font-size: 12px;
}
.row.footer .footer-menu li a {
  color: #858585;
}
.row.footer .footer-logo {
  width: 126px;
  margin-bottom: 15px;
}
.row.footer .copyright {
  margin-top: 80px;
  font-size: 10px;
  color: #858585;
}
p.info-box {
  color: #858585;
  padding-right: 60px;
  font-size: 12px;
  margin-bottom: 60px;
}
.dropdown-language .dropdown-toggle {
  border: none;
  border-radius: 1px<;
  background-image: none;
  background-color: #34373a;
  color: white;
  text-shadow: none;
  width: 160px;
  text-align: left;
  box-shadow: none;
  font-weight: 300px;
  font-size: 12px;
}
.dropdown-language .dropdown-toggle span.caret {
  float: right;
  position: relative;
  top: 7px;
}
.dropdown-language .dropdown-toggle ul.dropdown-menu {
  width: 160px;
  border-radius: 0;
  border: none;
}
.content.min {
  min-height: 700px;
}
.content .metrics {
  margin: 30px 0px 0;
}
.content .metrics h3 {
  color: #25b5ff;
}
.content h1 {
  font-size: 50px;
  font-weight: 300;
  margin-top: 5px;
}
.content h1 small {
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
}
.content-right {
  padding-left: 34px;
}
.content-left {
  padding-right: 34px;
}
.panel.panel-default {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 32px 0;
}
.panel.panel-default.main {
  margin-bottom: 70px;
}
.panel.panel-default .btn-default.btn-action {
  border: 1px solid #a7a7a7;
  padding: 1px 10px;
  color: grey;
  font-size: 11px;
  background: none;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  margin-top: 0px;
}
.panel.panel-default .btn-default.btn-action:hover {
  color: white;
  background: #a7a7a7;
}
.panel.panel-default .btn-default.btn-action.btn-block {
  margin-top: 10px;
  padding: 3px 10px;
}
.panel.panel-default .btn-default.btn-action.btn-round {
  width: 34px;
  height: 34px;
  border-radius: 20px;
  font-size: 13px;
  margin: 5px 5px 3px 0px;
  line-height: 30px;
}
.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}
.panel-default > .panel-heading {
  background-color: white;
  background-image: none !important;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}
.panel-default > .panel-heading.simple {
  border-bottom: none;
  padding: 7px 0;
}
.panel-default.panel-collapse > .panel-heading:hover {
  background-color: #fdfdfd;
  cursor: pointer;
}
.panel-title {
  font-weight: 600;
  font-size: 16px;
}
.panel-body {
  padding: 0;
}
.panel-body.simple {
  padding-top: 2px;
}
.panel-body p {
  padding: 9px 0;
  line-height: 1.6em;
}
.panel-heading a.show-more {
  margin-top: 0px;
  font-size: 12px;
  display: inline;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.label-tag {
  background-color: transparent;
  border: 1px solid #ddd;
  color: grey;
  margin-right: 1px;
  margin-bottom: 4px;
  font-weight: normal;
  border-radius: 30px;
  padding: 4px 10px;
  display: inline-block;
}
.label-tag.label-maintag {
  border-radius: 3px;
  padding: 4px 10px;
  margin-right: 3px;
  font-size: 12px;
}
.label-tag .label-language {
  background: none;
  color: #a7a7a7;
  padding: 0;
  margin: 0 5px 0 0;
  font-style: normal;
  border: none;
  top: 0px;
  font-size: 80% !important;
}
.label-tag :hover {
  background-color: #a7a7a7;
  border: 1px solid #a7a7a7;
  color: white;
  cursor: pointer;
}
.label-small {
  font-size: 11px !important;
  font-weight: 300;
  color: #444;
}
.label-language {
  border-radius: 2px;
  border: 1px solid #a7a7a7;
  padding: 1px 3px;
  margin: 0 5px 0 0;
  font-size: 9px !important;
  text-transform: uppercase;
  color: #a7a7a7;
  font-style: normal;
  position: relative;
  top: -1px;
}
.panel.panel-default.up20 {
  margin: -20px 0 60px;
}
.pull-screenshot {
  margin-top: -380px;
}
.push-screenshot {
  margin-top: 190px;
}
.push-screenshot2 {
  margin-top: 140px;
}
div.metrics {
  background: #f7f7f7;
  padding: 31px 0px;
  margin-bottom: 0px;
}
div.metrics .metric-label {
  font-size: 13px;
  font-weight: 300;
}
div.metrics h3 {
  font-size: 26px;
  font-weight: 400;
  margin: 3px 0 4px;
  color: #3f454a;
}
h3.zone-label {
  font-size: 23px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: -3px;
}
h4.zone-label {
  font-weight: 600;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: -3px;
}
.sidebar .thumbnail .visual {
  height: 170px;
}
.sidebar .thumbnail .visual img {
  height: auto;
  width: auto;
  max-height: 60%;
  max-width: 60%;
}
.thumbnail {
  padding: 0px;
  margin-bottom: 24px;
  cursor: pointer;
  position: relative;
}
.thumbnail button.close {
  position: absolute;
  right: 12px;
  top: 8px;
  display: none;
}
.thumbnail:hover {
  text-decoration: none;
}
.thumbnail:hover button.close {
  display: block;
}
.thumbnail.example,
.thumbnail.tool,
.thumbnail.orga {
  box-shadow: none;
  border: none;
  border-radius: 0px;
}
.thumbnail.tool .visual,
.thumbnail.orga .visual {
  background: white;
  position: relative;
}
.thumbnail.tool .visual img,
.thumbnail.orga .visual img {
  height: auto;
  width: auto;
  max-height: 55%;
  max-width: 55%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.thumbnail.tool {
  background: white;
  box-shadow: none;
  border-size: 0;
  border-radius: 0px;
}
.thumbnail.tool .visual {
  border-bottom: 1px solid #e8e8e8;
}
.thumbnail.tool .visual h1.dynamic {
  font-size: 60px;
  line-height: 95px;
  color: #cdcdcd;
  font-weight: 300;
  display: table-cell;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
}
.thumbnail.tool.grey {
  background: #f7f7f7;
}
.thumbnail.tool.grey:hover {
  background-color: #efefef;
}
.thumbnail.tool.grey:hover .visual {
  border-color: #efefef;
}
.thumbnail.tool.grey .visual {
  border: 3px solid #f7f7f7;
}
.thumbnail.orga .visual {
  border: 3px solid #f7f7f7;
}
.thumbnail.orga .caption p {
  font-size: 12px;
  line-height: 1.4em;
  max-height: 32px;
  overflow: hidden;
  margin-bottom: 3px;
}
.thumbnail.example h1.dynamic {
  font-size: 18px;
  line-height: 138px;
  color: #f6f6f6;
  background: #d8d8d8;
  font-weight: 300;
  height: auto;
  width: auto;
  display: table-cell;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.thumbnail.collection {
  height: 185px;
  border-radius: 6px;
  box-shadow: none;
  border: none;
  overflow: hidden;
}
.thumbnail.collection:hover .visual img {
  opacity: 0.8;
}
.thumbnail.collection .visual {
  height: 100%;
  display: block;
  overflow: hidden;
  background: #25282b;
  position: relative;
}
.thumbnail.collection .visual img {
  height: 120%;
  width: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}
.thumbnail.collection .caption {
  color: white;
  margin-top: -184px;
  z-index: 1000;
  position: relative;
  max-height: 160px;
  height: 160px;
  padding: 18px;
  margin-bottom: 0;
}
.thumbnail.collection .caption h4 {
  font-size: 22px;
  line-height: 1em;
}
.thumbnail.collection .caption .example-author {
  font-size: 12px;
  margin-bottom: 7px;
  margin-top: -1px;
  line-height: 12px;
}
.thumbnail.collection .caption .example-author img {
  max-width: 23px;
  max-height: 15px;
  margin-right: 4px;
  background: white;
  padding: 1px;
  margin-top: -2px;
}
.thumbnail.collection .caption p {
  margin-top: 30px;
}
.thumbnail .visual {
  height: 140px;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  background: black;
  position: relative;
}
.thumbnail .visual img {
  width: 100%;
  opacity: 0.9;
}
.thumbnail .example-author-thumb {
  height: 54px;
  width: 54px;
  border: 1px solid #e8e8e8;
  background: white;
  float: right;
  position: absolute;
  right: 15px;
  top: 111px;
  text-align: center;
}
.thumbnail .example-author-thumb img {
  width: 85%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.thumbnail .caption {
  padding: 12px 12px 20px;
  max-height: 90px;
  min-height: 90px;
  height: 90px;
  overflow: hidden;
}
.thumbnail .caption h4 {
  font-size: 15px;
  margin: 3px 0 9px;
}
.thumbnail .caption p {
  font-size: 12px;
  line-height: 1.4em;
  padding: 0px;
  margin-bottom: 0px;
}
.thumbnail .caption p.call {
  font-style: italic;
  color: grey;
}
.thumbnail .tags {
  padding: 15px 12px 13px;
}
.thumbnail .table > tbody > tr > td,
.thumbnail .thumbnail .table > tbody > tr > th,
.thumbnail .thumbnail .table > tfoot > tr > td,
.thumbnail .thumbnail .table > tfoot > tr > th,
.thumbnail .thumbnail .table > thead > tr > td,
.thumbnail .thumbnail .table > thead > tr > th {
  padding: 8px 6px;
  line-height: 1.5;
  font-size: 13px;
}
.thumbnail .table {
  margin-bottom: 0px;
}
.thumbnail .table .table-label {
  font-weight: 600;
}
a.show-more {
  margin-top: 0px;
  display: block;
  color: #595959;
  cursor: pointer;
  font-size: 12px;
}
a.show-more:hover {
  color: #25b5ff;
  text-decoration: none;
}
a.show-more span {
  margin-left: 7px;
  font-size: 90%;
}
.label-tool {
  background-color: transparent;
  border: 1px solid #ddd;
  color: grey;
  margin-right: 4px;
  font-weight: normal;
  border-radius: 2px;
  padding: 2px 6px;
  cursor: pointer;
}
.label-tool:hover {
  background-color: #a7a7a7;
  border: 1px solid #a7a7a7;
  color: white;
}
.call-add {
  font-size: 9px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ddd;
  color: grey;
  font-weight: normal;
  border-radius: 2px;
  padding: 4px 10px;
  cursor: pointer;
}
.call-add:hover {
  background-color: #a7a7a7;
  border: 1px solid #a7a7a7;
  color: white;
}
.call-container {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 10px;
}
.call-container p {
  text-align: center;
  margin: 20px 0 15px;
}
.visual .call-container {
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  display: table-cell;
}
.to-translate {
  font-style: italic;
}
.list {
  margin-bottom: 20px;
}
.list.p90 {
  padding-top: 87px;
}
.list .show-more {
  margin-top: 20px;
}
.list .thumbnail {
  padding: 18px 0;
  background-color: white;
  border-bottom: 1px solid #ececec;
  margin-bottom: 0px;
  min-height: 137px;
}
.list .thumbnail:hover {
  background: #f7f7f7;
}
.list .thumbnail.tool .caption p {
  margin-top: 8px;
  margin-bottom: 20px;
  line-height: 1.4em;
}
.list .thumbnail .visual {
  float: left;
  width: 160px;
  height: 100px;
  clear: both;
  border: 1px solid #ececec;
}
.list .thumbnail .visual img {
  opacity: 1;
}
.list .thumbnail .caption {
  padding: 0px;
  padding-left: 15px;
  height: 72px;
  min-height: 72px;
  max-height: 72px;
}
.list .thumbnail .caption h4 {
  margin: 0px 0 4px;
  font-size: 14px;
  font-weight: 700;
}
.list .thumbnail .caption h4 small {
  margin-left: 6px;
}
.list .thumbnail .caption .example-author {
  font-size: 11px;
  margin-bottom: 7px;
  line-height: 13px;
}
.list .thumbnail .caption .example-author img {
  max-width: 20px;
  max-height: 12px;
  margin-right: 4px;
}
.list .thumbnail .caption p {
  height: 32px;
  max-height: 32px;
  min-height: 32px;
  margin-bottom: 7px;
  line-height: 1.3em;
}
.list .thumbnail .tags {
  padding-left: 15px;
  overflow: hidden;
  padding-bottom: 0px;
  padding-top: 8px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px 0;
  line-height: 2.2;
  border: none;
  font-size: 13px;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: white;
}
.table tr.editable:hover {
  background: #ececec;
}
.table tr.editable:hover:after {
  content: "Edit";
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  color: #595959;
  position: relative;
  right: 30px;
  top: 6px;
  margin-right: -30px;
}
.panel-default.panel-side > .panel-heading {
  padding: 8px 0;
}
.panel.panel-default.panel-side {
  margin: 16px 0;
}
.panel-side h6.panel-title {
  font-weight: 600;
  font-size: 13px;
}
.panel-side .panel-body {
  padding: 5px 0;
  margin: 0px;
}
.panel-side .up7 {
  top: 0;
}
.panel-side table {
  margin-bottom: 0px;
}
.panel-side .table > tbody > tr > td,
.panel-side .table > tbody > tr > th,
.panel-side .table > tfoot > tr > td,
.panel-side .table > tfoot > tr > th,
.panel-side .table > thead > tr > td,
.panel-side .table > thead > tr > th {
  padding: 8px 0;
  line-height: 0.8em;
  font-size: 13px;
}
.panel-side .table th {
  width: 25px;
  color: #595959;
  padding-right: 0px;
}
.sidebar .thumbnail .caption {
  padding: 12px 0px 8px;
  max-height: 100%;
  height: auto;
}
.sidebar .thumbnail .caption .table .table-label {
  padding-left: 18px;
}
.sidebar .thumbnail .caption .table .td {
  padding-right: 18px;
}
.sidebar .thumbnail .caption .btn-default.btn-action {
  border: 1px solid;
  font-size: 12px;
  padding: 4px 20px;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 5px;
  width: 90%;
}
.tool-icon-small {
  text-align: center;
}
.tool-icon-small img {
  width: 18px;
  position: relative;
  left: -5px;
}
.modal-dialog {
  width: 600px;
  margin: 150px auto;
}
.modal-dialog .modal-header {
  background: #33383c;
  color: white;
  padding: 20px 23px;
}
.modal-dialog .modal-header h4.modal-title {
  font-size: 19px;
}
.modal-dialog .modal-header h4.modal-title span {
  font-size: 13px;
  padding-left: 7px;
  font-weight: 400;
  color: #6e6e6e;
}
.modal-dialog .modal-body {
  padding: 0px;
  overflow: scroll;
  max-height: 480px;
}
.modal-dialog .modal-body .big .form-control {
  width: 490px;
  border-radius: 0px;
}
.modal-dialog .modal-body .big .btn.btn-default {
  padding: 6px 14px;
  margin-left: 5px;
  margin-top: 1px;
}
.modal-dialog .modal-content {
  border-radius: 2px;
  border: none;
}
.modal-dialog .modal-content .lead {
  margin-bottom: 14px;
}
.modal-dialog .modal-content .list-unstyled li {
  line-height: 1.8em;
}
.modal-dialog .modal-content .well {
  border-radius: 1px;
  border: none;
  box-shadow: none;
  background-image: none;
  background-color: #f7f7f7;
  margin-bottom: 0px;
  margin-right: 0px;
}
.modal-dialog .modal-content .well.well-right {
  margin-left: -20px;
  background: white;
}
.modal-dialog .close {
  color: white;
  text-shadow: none;
  opacity: 0.6;
  margin-top: 3px;
}
.modal-dialog .close:hover {
  opacity: 1;
}
.modal-dialog .media {
  padding: 17px 23px;
  border-bottom: 1px solid #ececec;
  margin-top: 0px;
}
.modal-dialog .media.action {
  padding: 17px 23px;
  border: none;
  margin-top: 0;
  margin: 10px;
  background: #e0e0e0;
  min-height: 90px;
  padding-left: 0px;
  display: block;
  color: #4b4b4b;
  cursor: pointer;
}
.modal-dialog .media.action:hover {
  background: #25b5ff;
  color: white;
}
.modal-dialog .media.action:hover .media-body h4.media-heading {
  color: white;
}
.modal-dialog .media.action .media-body h4.media-heading {
  font-size: 18px;
  margin-top: 7px;
}
.modal-dialog .media.action .icon {
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  padding: 6px 40px;
  margin: 0;
  color: rgba(0, 0, 0, 0.2);
}
.modal-dialog .media.action .options {
  padding-left: 0;
  margin-top: 10px;
}
.modal-dialog .media.action .options li.option {
  list-style: none;
  display: block;
  width: 100%;
  padding: 8px 10px;
  background: rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  font-weight: 600;
  font-size: 13px;
}
.modal-dialog .media.action .options li.option i {
  display: block;
  font-weight: 300;
  font-size: 11px;
}
.modal-dialog .media.action .options li.option:hover {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}
.modal-dialog .media .media-body {
  font-size: 12px;
  line-height: 1.4em;
}
.modal-dialog .media .media-body h4.media-heading {
  font-size: 13px;
  font-weight: 600;
  padding-right: 10px;
  color: #33383c;
}
.modal-dialog .media .media-body h4.media-heading span {
  font-size: 10px;
  padding-left: 7px;
  font-weight: 400;
  color: #4b4b4b;
}
.modal-dialog .media.best .media-body {
  font-size: 14px;
  line-height: 1.35em;
  padding-bottom: 7px;
}
.modal-dialog .media.best .media-body h4.media-heading {
  font-size: 13px;
  font-weight: 600;
  padding-right: 10px;
  color: #33383c;
}
.modal-dialog .media.best .media-body h4.media-heading span {
  font-size: 10px;
  padding-left: 7px;
  font-weight: 400;
  color: #4b4b4b;
}
.modal-dialog .media .media-right {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0 3px 0 14px;
}
.modal-dialog .media .media-right .btn-vote {
  color: #3f454a;
  opacity: 0.4;
  cursor: pointer;
  text-align: center;
}
.modal-dialog .media .media-right .btn-vote:hover {
  color: #25b5ff;
  opacity: 1;
}
.grey {
  background-color: #f7f7f7;
}
body,
html,
#main,
.main-container {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}
.fullscreen .search-bar input.form-control {
  width: 400px;
}
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: yellow;
  z-index: 10000;
}
.browse-tag {
  height: 100%;
  width: 50%;
  float: left;
  position: absolute;
  left: 0;
  right: 50%;
}
.browse-tag .tag {
  margin: auto;
  margin-top: 150px;
  max-width: 104%;
  max-height: 100%;
  position: absolute;
  top: -6px;
  left: 0;
  right: 0px;
  bottom: 40px;
}
.browse-tag .row.filters {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.browse-tag .alert {
  margin-top: 150px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100000;
}
.scroll-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  position: absolute;
  left: 50%;
  right: 0;
}
.row.browse {
  padding: 150px 30px;
}
.fixed-footer {
  background-color: #25282b;
  color: #595959;
  font-size: 12px;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  bottom: 0;
}
.full-bg {
  position: relative;
}
.full-bg img.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
  opacity: .5;
  width: 100%;
}
.full-bg .breadcrumb > .active {
  color: #ccc;
}
.collection-header-mini .breadcrumb {
  margin-top: -6px;
}
.collection-header-mini .breadcrumb li {
  color: white;
}
.collection-info {
  margin-top: 50px;
}
.collection-info .collection-thumb {
  float: left;
  height: 100px;
  width: 100px;
  display: block;
  background: white;
  position: relative;
  color: white;
}
.collection-info .collection-thumb img {
  height: auto;
  width: auto;
  max-height: 80%;
  max-width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.collection-info h4,
.collection-info h3,
.collection-info h2 {
  text-align: left;
  padding-left: 120px;
  color: white;
}
.collection-info h4 {
  font-size: 14px;
  padding-top: 5px;
}
.collection-info h2 {
  font-size: 52px;
  margin-top: -10px;
  font-weight: 300;
}
.collection-info h3 {
  font-size: 17px;
  margin-top: -8px;
  font-weight: 300;
}
.collection-info h3 a {
  color: white;
  font-weight: 400;
}
.row.section-form {
  padding: 20px 0 40px;
}
.row.section-form.last {
  padding-bottom: 100px;
  margin-top: -50px;
}
.row.section-form .form-group {
  margin: 20px 0 0;
}
.upload-container {
  padding: 20px;
}
.upload-zone {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  padding: 50px;
}
.upload-zone .glyphicon {
  font-size: 61px;
  margin: auto;
  display: block;
}
.upload-zone:hover {
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.2);
}
.example h4 {
  padding-right: 70px !important;
}
table.compare {
  margin-top: 40px;
  margin-bottom: 80px;
}
table.compare.table-striped > tbody > tr > td {
  border-left: 2px solid white ;
}
table.compare.table-striped > tbody > tr:nth-of-type(even) {
  background-color: white;
}
table.compare.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f7f7f7;
}
table.compare > tbody > tr > td {
  padding-left: 10px;
  text-align: center;
}
table.compare > tbody > tr > th {
  padding-right: 20px;
  padding-left: 8px;
}
table.compare > thead > tr > th {
  padding-left: 10px;
  text-align: center;
  padding-bottom: 20px;
  vertical-align: middle;
  display: table-cell;
  height: 60px;
}
table.compare img {
  height: auto;
  width: auto;
  max-height: 40px;
  max-width: 80px;
  margin-right: 5px;
}
table.compare .btn.btn-default.btn-action {
  border: 1px solid #25b5ff;
  color: #25b5ff;
  padding: 3px 10px;
  margin-top: 0px;
  font-size: 12px;
}
table.compare .btn.btn-default.btn-action:hover {
  color: white;
}
.text-primary {
  color: #25b5ff;
}
p.large {
  font-size: 16px;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
header {
  background-image: url('../img/bg_world.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  background-color: #3f454a;
}
header .intro-text {
  padding-top: 200px;
  padding-bottom: 200px;
}
header .intro-text .intro-lead-in {
  font-style: italic;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-weight: 400;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 20px;
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
}
section h3.section-subheading {
  font-size: 18px;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
section p {
  margin-top: 15px;
  font-size: 17px;
  line-height: 1.75;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
  font-weight: 600;
  font-size: 20px;
}
.service-text {
  margin: 15px 30px 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #25b5ff;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 1.2em;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
  font-size: 21px;
}
.timeline .timeline-body .timeline-text {
  margin: 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
aside.clients a {
  height: 140px;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
aside.clients img {
  height: auto;
  width: auto;
  max-height: 65%;
  max-width: 65%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*# sourceMappingURL=ogp-style.css.map */